<div class="bg-white-700 h-1/3 overflow-hidden">
  <app-image-carousel ></app-image-carousel>
</div>
<div class="px-5">
  <section class="py-5 border-b-2">
    <p class="text-2xl font-semibold">
      Maison familiale Nanterre - La Défense - Paris
    </p>
  </section>
  <section class="py-5 border-b-2 flex flex-col gap-5">
    <div class="highlight">
      <div class="shrink-0">

      </div>
      <div>
        <p class="font-semibold">Espace de travail dédié</p>
        <p>Un espace commun avec wifi, bien aménagé pour travailler.</p>
      </div>
    </div>
    <div class="highlight">
      <div class="shrink-0">

      </div>
      <div>
        <p class="font-semibold">Arrivée autonome</p>
        <p>Vous pouvez entrer dans les lieux avec une boîte à clé sécurisée.</p>
      </div>
    </div>
    <div class="highlight">
      <div class="shrink-0">

      </div>
      <div>
        <p class="font-semibold">Annulation gratuite avant le 25 juin</p>
      </div>
    </div>
  </section>

  <section class="py-5 border-b-2 flex flex-col gap-5">
      <app-discription></app-discription>
  </section>

  <section class="py-5 border-b-2">
    <app-propose></app-propose>
  </section>

  <section class="py-5 border-b-2">
    <app-location></app-location>
  </section>

    <section class="py-5 border-b-2">
    <app-calendar></app-calendar>
  </section>
</div>